.newspaper {
    column-count: 4;
    column-gap: 30px;
    column-rule-style: solid;
    column-rule-width: 2px;
    column-rule-color: aquamarine;
    /* column-rule: 2px solid #ccc; */
    /* column-width: 150px; */
}