*{
    padding: 0;
    margin: 0;
}

.show{
    background: linear-gradient(to bottom right, 
    hsla(168, 71%, 31%, 0.8), 
    hsla(145, 64%, 48%, 0.8)), 
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQMRo-H0e7GoyLS7TmMCxcfdcU05AJWBE1DgehJGwhbniKFhBuV);
    height: 300px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    text-align: center;
    position: relative;
    /* clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); */
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.show p{
    font-size: 30px; 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -20%;
    font-weight: 600;
    letter-spacing: 12px;
}

.block {
    width: 33.3%;
    float: left;
    padding: 35px;
    box-sizing: border-box;
 

}
.block h1{
    max-width: 500px;
    text-align: center;
    position: relative;
}

.block h1:before{
    content:"";
    display: block;
    width: 100px;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 0;
    top:50%;
}

.block h1:after{
    content:"";
    display: block;
    width: 100px;
    height: 2px;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 50%; 
}